{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

{% comment %} action="{% url 'register' %}" {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}  

   <title>Snappfood</title>
   <!-- Include your CSS and JavaScript files here -->
</head>
<body>
    {% for i in food %}
    <div class="item">
        <p>{{i}}</p> 
    {% endfor %}
</body>
{% endblock %}