{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <div class="nav-buttons">
        <p>
            <a href="{% url 'dashboardhome' %}">Dashboard</a>
        </p>
        <p>
            <a href="{% url 'foodform' %}">Add Food</a>
        </p>
        <p>
            <a href="{% url 'reports' %}">Reports</a>
        </p>
        <p>
            <a style='background-color: red;' href="{% url 'logout' %}">Logout</a>
        </p>
    </div>
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}  
</head>
{% if messages %}
<div>
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<body>
{% block title %}
         <h1 class='underline' style='color:black; text-align: center;'>Foods</h1>
         <hr style="border: 0; height: 2px; background: #333; margin-top: 10px;">
{% endblock %}

    <div id="main" class="foods-list">
        {% comment %} <h1>{% if category %}{{ category.name }}{% else %}All{% endif %}</h1> {% endcomment %}
        {% if foods %}
        {% for product in foods %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    {% load static %}
                    <img src="{% if product.image %}{% static 'media/' %}{{product.image}}{% else %}{% static "media/no_image.jpg" %}{% endif %}" title="{{ product.name }}"  width="15%" height="15%">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>${{ product.selling_price }}
            </div>
        {% endfor %}
        {% else %}
        <div class='no_foods'>
            <a style='color:green; text-align: center;' href={% url "foodform" %}><h5>You Haven't Defined Any Foods</h5></a>
        </div>
        {% endif %}
    </div>
</body>
{% endblock %}
{% comment %} {% endcomment %}

