{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

{% comment %} action="{% url 'register' %}" {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <div class="nav-buttons">
        <p>
            <a href="{% url 'dashboardhome' %}">Dashboard</a>
        </p>
        <p>
            <a href="{% url 'foodform' %}">Add Food</a>
        </p>
        <p>
            <a href="{% url 'reports' %}">Reports</a>
        </p>
    </div>
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}  
</head>
<body style='direction: ltr;'>
{% block title %}

    {% if category %}
        {{ category.name }}
    {% else %} 
         <h1 style='color:black'>Foods</h1>
    {% endif %}
{% endblock %}
    {% comment %} <div id="sidebar">
        <h3>Categories</h3>
        <ul>

            {% for c in categories %}
                <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div> {% endcomment %}

    <div id="main" class="foods-list">
        {% comment %} <h1>{% if category %}{{ category.name }}{% else %}All{% endif %}</h1> {% endcomment %}
        {% for product in foods %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    {% load static %}
                    <img src="{% if product.image %}{% static 'media/' %}{{product.image}}{% else %}{% static "media/no_image.jpg" %}{% endif %}" title="{{ product.name }}"  width="15%" height="15%">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>${{ product.selling_price }}
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
{% comment %} {% endcomment %}