<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
{% comment %} <div class="button">
    {% block sidebar %}
        <a href="{% url 'home' %}" class="btn btn-default" type="button">Home</a>
        <a href="{% url 'registerpage' %}" class="btn btn-lg btn-success" type="button">Register</a>
        <a href="{% url 'login' %}" class="btn btn-lg btn-success" type="button">login</a>
    {% endblock %}

</div> {% endcomment %}
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

